 .form-dialog{
     position: absolute;
 }
 .dialog-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(187, 181, 174);
    opacity: .7;

}

.dialog{
    position: fixed;
    width: 600px;
    height: 400px;
    background-color: #ffff;
    top: calc(50% - 200px);
    left:calc(50% - 300px);
    border-radius: 5px;
    border: 6px solid #0072bc;

}
.dialog .dialog-titlebar{
    color: #ffff;
    width: 100%;
    height:30px ;
    background-color: #0072bc;
 
}
.dialog .dialog-titlebar .title{
    
    line-height: 25px;
    float: left;
    padding-left: 4px;

}
.dialog .dialog-titlebar .btn-close{
    float: right;
    position: absolute;
    right: 5px;
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 13px;
    font-weight: 500;
    border-radius: 50%;
    background-color: #ffff;
    color: #0072bc;
}

.dialog .dialog-body{
    width: 100%;
    padding: 8px;
}
.dialog-body label{
    display: inline-block;    
    width: 130px;
    
}
.dialog-body .row{
    display: flex;
    margin:6px;
}

.dialog-body .dialog-footer{
    display: flex;
    padding:8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    border: 1px solid #ccc;
    background-color: rgb(238, 245, 245);

}
.dialog .dialog-footer .footer-left{
    
    position: relative;
    left: 0;
    
}

.dialog .dialog-footer .footer-right{
    position: absolute;
    right: 0;
}
.btn-dialog .btn-icon-footer { 
    width: 16px;
    height: 16px;
    background-image: url('../../content/img/IconSprite.png');
    margin: 4px;
    
}
.btn-dialog .btn-icon-help{
    background-position: 0px -1599px;
}
.btn-dialog .btn-icon-cut{
    background-position:0px -768px;
}
.btn-dialog .btn-icon-cutAdd{
    background-position:0px -737px;
}
.btn-dialog .btn-icon-close{
    background-position:0px -1967px;
}
.footer-left  button{
    display: flex;
}
.footer-right button{
    display: flex;
}
.footer-right{
    display: flex;
}
.btn-dialog .btn-text{
    margin:5px;
}
