body{
    font-family: tahoma_regular !important;
    font-size: 13px;

}
@font-face{
    font-family: 'tahoma_bold';
    src: url('../../content/fonts/tahoma_bold.woff') format('woff');
}
@font-face{
    font-family: 'tahoma_regular';
    src: url('../../content/fonts/tahoma_regular.woff') format('woff');
}
.main {
    width: calc(100% - 200px);
    height: 100vh;
    background-color: #ff0000;
    margin-left: 200px;
}
    .main .header {
        display: flex;
        width: 100%;
        height: 50px;
        background-color: #0973b9;
        align-items: center;
        justify-content: space-around;
    }
    .main .content{
        width:calc(100% - 20px);
        height:calc(100% - 70px);
        background-color:#ffffff;
        padding:10px;
        
    }
    .parent{
        position: relative;
        width: 400px;
        height: 400px;
        background-color: burlywood;
    }
    .children{
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: black;
        margin: 22px;
        top: 265px;
    }
  
 .header .select-restaurant{
   
     width: 200px;
     height:30px;
     background-color:#0973b9;
     color:#ffff;
     border:none;
     
 }
 .header .select-language{
    width: 200px;
    height:30px;
    background-color:#0973b9;
    color:#ffff;
    border:none;
    
 }
 .header .notification{
     width: 50px;
     height: 30px;
     background-color: #26648d;

 }
 .header .call{
    width: 50px;
    height: 30px;
    background-color: #26648d;
 }
 .header .acount{
    width: 150px;
    height: 30px;
    background-color: #26648d;
 }
 
 .content .content-header{
    height: 40px;
    font-family: 30px;
 }
 .content .content-body{
   
     height: calc(100% - 40px);
     width: 100%;
 }