.sidebar {
    float:left;
    width: 200px;
    background-color: #0973b9 !important;
    height: 100vh;
}
    .sidebar .logo {
        display: flex;
        width: 100%;
        height: 50px;
        background-color: #0973b9;
        margin-left: 20px;;
    }
    .sidebar .menu {
        
        width: 100%;
        height: calc(100% - 50px);
        background-color: #0973b9;
    }
.logo .icon-left-header {
    width: 25px;
    height: 100%;
    background-image: url('../../content/img/icon-left-header.png');
    background-repeat: no-repeat;
    background-position: center;
}
.logo .logo-text {
    width: 100%;
    height: 100%;
    background-image: url('../../content/img/logo-text.png');
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: center;
}
/*Menu*/
.menu .menu-item{
    display:flex;
    width:100%;
    height:40px;
    border-top: 1px solid #0c6aa8;
    border-bottom: 1px solid #5ea7d8;
    line-height: 40px;
}
.menu .menu-item-icon1 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconMenu.png');
    background-repeat: no-repeat;
    margin-left:15px;
    background-position-y:0px;
    align-self: center;
}
.menu .menu-item-icon2 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconMenu.png');
    background-repeat: no-repeat;
    margin-left:15px;
    background-position-y:-193px;
    align-self: center;
}
.menu .menu-item-icon3 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconMenu.png');
    background-repeat: no-repeat;
    margin-left:15px;
    background-position-y:-377px;
    align-self: center;
}
.menu .menu-item-icon4 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconMenu.png');
    background-repeat: no-repeat;
    margin-left:15px;
    background-position-y:-40px;
    align-self: center;
}
.menu .menu-item-icon5 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconMenu.png');
    background-repeat: no-repeat;
    margin-left:15px;
    background-position-y:-80px;
    align-self: center;
}
.menu .menu-item-icon6 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/icon-deposit.png');
    background-repeat: no-repeat;
    margin-left:15px;
    align-self: center;
}
.menu .menu-item-icon7 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/icon-cost.png');
    background-repeat: no-repeat;
    margin-left:15px;
    align-self: center;
}
.menu .menu-item-icon8 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconMenu.png');
    background-repeat: no-repeat;
    margin-left:15px;
    background-position-y:-120px;
    align-self: center;
}
.menu .menu-item-icon9 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/ic_hoadon.png');
    background-repeat: no-repeat;
    margin-left:15px;
    align-self: center;
}
.menu .menu-item-icon10 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconMenu.png');
    background-repeat: no-repeat;
    margin-left:15px;
    background-position-y:-156px;
    align-self: center;
}
.menu .menu-item-icon11{
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/cancel-invoice.png');
    background-repeat: no-repeat;
    margin-left:15px;
    align-self: center;
}
.menu .menu-item-icon12 {
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconMenu.png');
    background-repeat: no-repeat;
    margin-left:15px;
    align-self: center;
    background-position-y: -233px;
}

.menu .menu-item-icon15{
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/logo_5Food.png');
    background-repeat: no-repeat;
    margin-left:15px;
    align-self: center;
}
.menu .menu-item-icon16{
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconHelp.png');
    background-repeat: no-repeat;
    margin-left:15px;
    align-self: center;
}
.menu .menu-item-icon17{
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/icon-subscriber.png');
    background-repeat: no-repeat;
    margin-left:15px;
    align-self: center;

}
.menu .menu-item-text{
    color:#ffffff;
    margin-left:8px;
}
.menu .menu-item-add{
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconMenu.png');
    background-repeat: no-repeat;
    margin-left: 72px;
    align-self: center;
    background-position-y: -270px;
}
.menu .menu-item-addhelp{
    width: 25px;
    height: 25px;
    background-image: url('../../content/img/iconMenu.png');
    background-repeat: no-repeat;
    margin-left: 72px;
    align-self: center;
    background-position-y: -270px;
}
.menu .menu-item:hover{
    background-color: rgb(226, 104, 47);
}